/* Team */

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 120px;
}

.team .block-title {
    margin-bottom: 20px;
    font-size: 30px;
}

.team .block-subtitle {
    width: 650px;
    margin-bottom: 125px;
    font-size: 20px;
    text-align: center;
}

.members-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    list-style: none;
}


// Member

.member {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 370px;
}

.member__avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 320px;
    margin-bottom: 35px;
    background-color: #000000;
    border-radius: 10px;
}

.member__name {
    font-weight: 600;
    margin-bottom: 10px;
}

.member__position {
    margin-bottom: 25px;
    font-size: 17px;
    text-align: center;
}

.member__socials {
    display: flex;
    margin-top: auto;
    list-style: none;
}

.member__social {
    margin-right: 25px;

    &:last-child {
        margin-right: 0;
    }

    a {
        display: block;
        padding: 12px;
        font-size: 0;
        background-color: #f0f1f1;
        border-radius: 10px;

        &:before {
            content: "";
            display: block;
            width: 30px;
            height: 30px;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    &--twitter a:before {
        background-image: url("../images/icon--twitter.png");
    }

    &--messenger a:before {
        background-image: url("../images/icon--messenger.png");
    }

    &--dribbble a:before {
        background-image: url("../images/icon--dribbble.png");
    }
}
