/* Rates */

.rates {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 120px;
    background-color: #f0f1f1;
}

.rates .block-title {
    margin-bottom: 20px;
    font-size: 30px;
}

.rates .block-subtitle {
    width: 650px;
    margin-bottom: 110px;
    font-size: 20px;
    text-align: center;
}

.prices {
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style: none;
}


// Price

.price {
    display: flex;
    flex-direction: column;
    width: 370px;
    padding-bottom: 45px;
    background-color: #ffffff;

    &:hover {
        box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.35);
        transition: all 0.25s;
    }
}

.price__topic {
    padding: 45px 35px;
    color: #ffffff;
    background: linear-gradient(175deg, #3949ab, #3949ab 86.4%, #ffffff 87%);
}

.price__title,
.price__value {
    text-align: center;
}

.price__title {
    font-size: 25px;
    font-weight: normal;
    white-space: pre-line;
}

.price__value {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;

    &--num {
        margin-right: 10px;
        font-size: 50px;
    }
}

.price__descriptions {
    padding-top: 45px;
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 65px;
    color: #212121;
    font-size: 17px;
    list-style: none;
}

.price__descriptions li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    text-align: center;

    &:after {
        content: "";
        display: table;
        width: 180px;
        height: 1px;
        margin-top: 10px;
        background-color: #bfbfbf;
    }
}

.price__link {
    align-self: center;
    margin-top: auto;
    padding: 20px 30px;

    font-size: 20px;
    font-weight: 600;
    color: #000000;
    text-decoration: none;
    text-align: center;

    border: 2px solid #000000;

    &:hover {
        color: #ffffff;
        background-color: #00897b;
        border-color: #00897b;
    }
}